@layer components {
  .chat-window {
    @apply min-h-screen bg-white bg-opacity-20 shadow-lg backdrop-blur-[8.5px];
  }

  .chat-sidebar {
    @apply bg-white/10 rounded-lg shadow-lg overflow-auto fixed top-0 bottom-0 m-6;
    inset-inline-start: 0;
    scrollbar-width: none;
    scrollbar-gutter: stable;
  }

  .avatar-box {
    @apply w-full p-7 h-16;
  }

  .chat-main {
    @apply ml-[350px] bg-transparent m-6 h-full self-center;
    scrollbar-width: none;
  }

  .chat-header {
    @apply flex justify-end items-center bg-white/20 shadow-[0_-11px_15px_-3px_rgb(0_0_0_/_0.1)] rounded-t-lg p-0;
    .chat-user-name {
      @apply font-chivo text-xl m-0 ml-3;
    }

    .chat-menu-box {
      @apply w-full h-14 p-6 cursor-pointer;
    }
  }

  .chat-menu {
    min-width: 0 !important;

    .ant-dropdown-arrow {
      &::before {
        @apply bg-primary;
      }
    }

    .close-chat-btn {
      @apply flex justify-center items-center text-white font-chivo font-extralight;
    }

    .ant-dropdown-menu {
      @apply bg-primary;
    }
  }

  .chat-content {
    @apply bg-white/10 min-h-[80vh] max-h-[80vh] overflow-auto;
    scrollbar-width: none;
    scrollbar-gutter: stable;
    .chat-message-main {
      @apply w-full min-h-[80vh] p-3;

      .chat-message-box {
        @apply w-max max-w-[60%] rounded-lg relative;
        .chat-message {
          @apply font-chivo font-extralight text-white p-3 m-0 text-justify relative;
        }

        .chat-image {
          @apply rounded-lg;
        }

        .chat-image + .ant-image-mask {
          @apply rounded-lg;
        }

        .read-icon {
          @apply absolute bottom-2 right-2;
        }
      }

      .chat-time {
        @apply font-nunito font-light text-[0.65rem] mt-0.5 text-primary-dark;
      }

      .chat-your {
        @apply bg-primary;
        &::after {
          @apply absolute -bottom-1.5 right-0 w-0 h-0 border-8 border-solid border-primary border-l-transparent border-b-transparent;
          content: '';
        }
      }

      .chat-them {
        @apply bg-softblack;
        &::after {
          @apply absolute -bottom-1.5 left-0 w-0 h-0 border-8 border-solid border-softblack border-r-transparent border-b-transparent;
          content: '';
        }
      }
    }
  }

  .chat-footer {
    @apply w-full flex justify-start items-center px-4 pt-2 pb-5 bg-white/20 shadow-lg rounded-b-lg;
  }

  .message-box {
    @apply rounded-2xl font-chivo font-light text-[1rem] border-none ml-5 mr-5 pt-2.5 pb-2.5;
    &:focus {
      @apply shadow-sm shadow-[darkcyan];
    }
  }

  .attachment-box {
    @apply w-full rounded-2xl bg-[darkcyan] ml-5 mr-5 pl-2 pt-2.5 pb-2.5;
  }
}
